.Contact{
    background-color: #0b0c10;
    width: 100%;
    padding: 100px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.Card{
    height: 50%;
    width: 45%;
    background: #1f2833;
    border-radius:10px;
    margin: 0 auto;
    position: relative;
    padding:  30px;
    transform: translateY(20%);
    margin-bottom: 95px;
}

.Card img{
    margin-top: 3%;
    justify-content: center;
    width: 25%;
    border-radius: 5%;
    transform: translateX(150%);
    box-shadow: 5px 5px#0b0c1044;
}

.projectHero{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url(../images/projectsBgd.png);
    background-size: cover;
    background-position: center;
}

.Contact-text{
    text-align: center;
}

.Contact-text p{
    color: #c5c6c7;
    margin-top: 20px;
    margin-bottom: 50px;
}

.newsletter{
    margin-bottom: 20px;
}