h3{
    font-size: 18px;
}

.allProjects{
    width: 100%;
    padding: 100px 0px;
}

.projectHero{
    height: 300vh;
    width: 100%;
    position: absolute;
    background-image: url(../images/projectsBgd.png);
    background-size: cover;
    background-position: center;
}

.projectContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    margin-top: 3%;
}

.content{
    width: 50%;

    position: absolute;
    left: 8%;
    background-color: #1f2833;
    border-radius: 5px;

}


.content p{
    color: #c5c6c7;
    width: 62%;
    margin-top: -15px;
}

.projectCard{
    height: 565px;
    width: 85%;
    padding: 20px 35px;
    background: #1f2833;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;

/*
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
*/
}

.projectCard iframe{
    width: 500px;
    border-radius: 25px;
    left: 50%;
    position: relative;
    display: flex;
    top: 40%;
    transform: translateY(-50%);
    box-shadow: 5px 5px#0b0c1044;

}

.content2{
    top: 50%;
    transform: translateY(-50%);

    position: absolute;
    background-color: #1f2833;
    border-radius: 5px;
    left: 50%;
}

.content2 p{
    color: #c5c6c7;
    width: 62%;
    margin-top: -15px;
}

.ytvid1{
    width: 40%;
    border-radius: 25px;
    left: 42%;
    position: relative;
    display: flex;
    top: 79%;
    transform: translateY(-50%);
}

.ytVid2{
    width: 40%;
    border-radius: 25px;
    right: 15%;
    position: relative;
    display: flex;
    top: 79%;
    transform: translateY(-50%);
}

.projectDetails a{
    text-decoration: none;
    font-weight: bold;
    color: #66fcf1;
}

.projectDetails a:hover{
    color: #c5c6c7;
    transition: 0.4s;
}

/*
br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
}
*/