*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

html,
body {
  margin: 0px;
  background-color: #101117;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../images/LorenzoBGD.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top:  1%;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: #c5c6c7;
    font-size: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.logo:hover{
    transform: scale(1.2);
    transition: 0.3s;
    color: #66fcf1;
}

.logo a{
    text-decoration: none;
    color: #c5c6c7;
    transition: 0.4s;
}

.logo a:hover{
    color: #66fcf1;
    transition: 0.4s;
}

span{
    color: #45a29e;
}

#menu-icon{
    display: none;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    transition: 0.4s;
}

nav ul li a{
    color: #c5c6c7;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #66fcf1;
    transition: 0.4s;
}

nav ul li:hover{
    transform: scale(1.2);
}

.btn{
    background-color: #1f2833;
    color: #45a29e;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: .4s;
}

.btn:hover{
    transform: scale(1.2);
    color: #66fcf1;
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: #66fcf1;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h2{
    color: #66fcf1;
    margin: 20px 0px 20px;
    font-size: 62px;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: #45a29e;
    letter-spacing: 2px;
    font-size: 20px;
}

.newsletter a {
    background-color: transparent;
    color: #c5c6c7;
    text-decoration: none;
    border: 1px solid #66fcf1;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 0.1px;
    transition: 0.4s;
}

.newsletter a:hover{
    background-color: #66fcf1;
    color: #0b0c10;
    cursor: pointer;
    font-size: 1.05rem;
    transition: 0.4s;
}

/*
.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #1f2833;
    outline: none;
    border-radius: 30px;
}

.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #1f2833;
    color: #45a29e;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
    transition: 0.2s;
}

.newsletter form input:last-child:hover{
    color: #66fcf1;
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.07);
}
*/

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #1f2833;
}

.about img{
    height: auto;
    width: 430px;
    box-shadow: 5px 5px#0b0c1044;
    border-radius: 5px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: whitesmoke;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: #c5c6c7;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background-color: transparent;
    color: #c5c6c7;
    text-decoration: none;
    border: 1px solid #66fcf1;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 0.1px;
    transition: 0.4s;
}

button:hover{
    background-color: #66fcf1;
    color: #0b0c10;
    cursor: pointer;
    transform: scale(1.2);
}

.service{
    background: #181e29;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: whitesmoke;
    font-size: 75px;
    /*width: 1130px;*/
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #1f2833;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    transition: 0.4s;
}

.card img{
    font-size:  50px;
    width: 167px;
    display: block;
    text-align: center;
    margin: 5px 0px;
    margin-left: 45px;
    border-radius: 16px;
    color: #45a29e;
    box-shadow: 5px 5px#0b0c1044;
}

h5{
    color: #c5c6c7;
    font-size: 23px;
    margin-bottom: 15px;
    text-align: center;
}

.pra p{
    color: #c5c6c7;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}  

.card .button{
    background-color: transparent;
    color: #c5c6c7;
    text-decoration: none;
    border: 1px solid #66fcf1;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 0.1px;
    transition: 0.4s;
}

.card .button:hover{
    background-color: #66fcf1;
    color: #0b0c10;
    cursor: pointer;
    transform: scale(1.2);
}

.card:hover{
    transition: 0.4s;
    transform: scale(1.05);
}

/*Educationn*/
.education{
    width: 100%;
    padding: 100px 0px;
    background-color: #1c2530;
}

.education-text{
    width: 550px;
}

.education-main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.education-text h2{
    color: whitesmoke;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.education-text h5{
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.education-text p{
    color: #c5c6c7;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.contact-me{
    width: 100%;
    height: 290px;
    background: #1f2833;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p{
    color: #c5c6c7;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two{
    background-color: transparent;
    color: #c5c6c7;
    text-decoration: none;
    border: 1px solid #66fcf1;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 0.1px;
    transition: 0.4s;
}

.contact-me .button-two:hover{
    background-color: #66fcf1;
    color: #0b0c10;
    cursor: pointer;
    transform: scale(1.2);
}

footer{
    position: relative;
    width: 100%;
    height: 370px;
    background: #101117;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: #c5c6c7;
    margin-bottom: 10px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: #c5c6c7;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

footer ul li{
    list-style-type: none;
    display: inline-block;
    margin: 10px 25px;
    margin-top: 20px;
    transition: 0.2s;
}

footer ul li a{
    color: #c5c6c7;
    text-decoration: none;
    text-transform: capitalize;
}

footer ul li a:hover{
    color: #66fcf1;
    transition: 0.2s;
}

footer ul li:hover{
    transform: scale(1.1);
}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b0c10;
    border-radius: 1%;
    border: 1px solid #66fcf1;
    margin: 22px 10px;
    color: #c5c6c7;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.social a:hover{
    background-color: #66fcf1;
    color: #0b0c10;
    transform: scale(1.3);
    transition: 0.3s;
}

.end{
    position: absolute;
    color: #c5c6c7;
    bottom: 20px;
    font-size: 14px;
}

@media(max-width: 920px){
        /*Introduction*/

    .hero{
        height: 200vh;
        width: 200%;
    }
    
    .content{
        position: absolute;
        top: 100%;
        left: 20%;
    }

    .logo{
        font-size: 70px;
        letter-spacing: 1px;
    }

    .newsletter a {
        padding: 23px 40px;
        border-radius: 0.1px;
        font-size: 30px;
    }
    
    .newsletter a:hover{
        font-size: 30px;
    }

    h1{
        font-size: 115px;
    }
    
    h2{
        font-size: 92px;
    }
    
    h3{
        font-size: 38px;
        margin-bottom: 80px;
        margin-top: 25px;
    }
    
    h4{
        letter-spacing: 2px;
        font-size: 34px;
        margin-bottom: 20px;
    }

    button{
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;

        padding: 23px 40px;
        border-radius: 0.1px;
        font-size: 30px;
    }

    /*Navbar*/
    nav {
        width: 100%;
        display: block;
    }

    .navbarUL {
        margin-top: -1100px;
        background-color: #101117;
        width: 100%;
        transform: translateX(82%);
        box-shadow: 5px 5px#0b0c1044;
        position:absolute;
        z-index: 2;
        transition: 0.4s;
    }

    .navbarUL.active {
        margin-top: 20px;

    }

    /*
    .navbar{
        margin-top: 100px;
    }
*/

    #menu-icon{
        display: initial;
        color: #45a29e;
        font-size: 80px;

        margin-top: -100px;
        position: absolute;
        right: -90%;
        cursor: pointer;
    }

    nav ul li{
        position: relative;
        display: block;

    
        padding-top:  45px;
        padding-left: 8%;
        padding-right: 8%;

        font-size: 32px;

        left: 0;
        right: 0;
        flex-direction: column;
        padding-bottom: 50px;
    }
    
    nav ul a{
        display: block;
        padding: 15px;
        border-left: 2px solid #66fcf1;
    }

    /*About Me*/

    .about{
        width: 200%;
        padding: 100px 0px;
    }

    .main{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: inline-block;
        align-items: center;
        justify-content: space-around;
    }

    .about img{
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 530px;
        border-radius: 5px;
    }

    .about-text{
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .about-text h5{
        font-size: 34px;
    }

    .about-text p{
        letter-spacing: 1px;
        font-size: 28px;
        line-height: 38px;
        width: 110%;
    }

    /*My Projects*/
    .service{
        width: 200%;
        padding: 100px 0px;
    }

    .box{
        display: block;
        justify-content: center;
        align-items: center;
        min-height: 600px;
    }
    
    .card{
        height: auto;
        width: 90%;
        padding: 20px 35px;
        margin: 15px;
        position: relative;

        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }
    
    .card:hover{
        transform: scale(1);
    }

    .card img{
        width: 400px;
        display: block;
        border-radius: 16px;

        margin-left: auto;
        margin-right: auto;
    }

    .card h5{
        font-size: 54px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .pra{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .pra p{
        letter-spacing: 1px;
        font-size: 28px;
        line-height: 38px;
        width: 75%;
        transform: translateX(17%);
        margin-bottom: 50px;
    }

    .card .button{
        padding: 23px 40px;
        border-radius: 0.1px;
        font-size: 30px;
    }

    /* Contact Me */
    .contact-me{
        width: 200%;
        height: 490px;
    }
    
    .contact-me p{
        font-size: 70px;
        margin-bottom: 25px;
    }
    
    .contact-me .button-two{
        margin-top: 50px;
        padding: 23px 40px;
        font-size: 30px;
    }

    /*Footer*/
    footer{
        width: 200%;
        height: 570px;
    }
    
    footer p:nth-child(1){
        font-size: 50px;
        margin-bottom: 50px;
    }
    
    footer p:nth-child(2){
        font-size: 26px;
        width: 500px;
        line-height: 36px;
    }
    
    footer ul li{
        margin: 10px 25px;
        margin-top: 20px;
        font-size: 24px;
    }
    
    footer ul li a{
        text-decoration: none;
        text-transform: capitalize;
    }
    
    .social a{
        width: 90px;
        height: 90px;

        border: 1px solid #66fcf1;
        margin: 52px 40px;
        font-size: 50px;
    }

    .end{
        font-size: 16px;
    }
}